<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    {% block head %}
        {% block meta %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
            <meta name="apple-mobile-web-app-capable" content="yes"/>
            <title>{{ title }}</title>
        {% endblock %}
        {% block css %}
            {% block main_css %}
                <link rel="stylesheet" href="../../../Assets/css/global.css"/>
                <link rel="stylesheet" href="../../../Assets/css/weui.css"/>
                <link rel="stylesheet" href="../../../Assets/css/module.css"/>
            {% endblock %}
            {% block other_css %}
            {% endblock %}
        {% endblock %}
        {% block head_script %}
        {% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}
    {% block body_html %}
    {% endblock %}
    {% block script %}
        <script type="text/javascript">
            var ua = navigator.userAgent.toLowerCase();
            var isWeixin = ua.indexOf('micromessenger') != -1;
            var isAndroid = ua.indexOf('android') != -1;
            var isIos = (ua.indexOf('iphone') != -1) || (ua.indexOf('ipad') != -1);
            if (!isWeixin) {
                document.head.innerHTML = '<title>{{ title }}</title><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0"><link rel="stylesheet" type="text/css" href="../../../Assets/css/browser.css">';
                document.body.innerHTML = '<div class="page_msg"><div class="inner"><span class="msg_icon_wrp"><i class="icon80_smile"></i></span><div class="msg_content"><h4>{{ prompt }}</h4></div></div></div>';
            }
        </script>
    {% endblock %}
{% endblock %}
</body>
</html>